body {
    font-family: 'Tilt Warp', cursive;
    background-image: url(./assets/pexels-maxyne-barcel-10402282\ 1.png );
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0,0,0,0.55);
    /* display: flex;
    text-align: center;
    justify-content: center; */
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    
}

.logo {
   margin-top: 3%;   
   margin-left: 3%;
   margin-bottom: 12%;
 

   font-weight: 900;
   
   
}
 nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: -13%;
    color: yellow;
    font-weight: 200;
    
 }
    
  .button {
    display:flex;
   margin-top: -2%;
   margin-left: 90%;
   
   background-color:crimson;
    color: white;
    font-size: 20px;
    padding:3px 17px;
 
  
    font-weight: 500;
    cursor: pointer;
 }

 section {
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
  
    

 }
.head {
    margin-top: 5%;
    display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
    font-size: 90px;
    color: yellow;
   
    
 }

.butt {
    display: flex;
   
    font-weight: 500;
    padding: 8px 25px;
    color: white;
    background-color:crimson;
    margin-left: 50%;

 }

 .footer {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 20px;
    
    height: 200px;  
   
    font-weight: 900;
   
 }
 