body {

    text-align: center;
   font-weight: 800;
}
h1 {
    font-size: 50px;
}
@media screen  {
   body {
   background-color: aquamarine;
   }
   .full-screen {
    display: none;
 }
 .laptop {
    display: none;
 }
 .tablet {
    display: none;
 }
 .mobile{
    display: none;
 }
}
@media screen  and (max-width:1440px ) {
    body {
    background-color: rgb(4, 55, 4);
    }
    .full-screen {
        display: flex;
    justify-content: center;
  }
  .laptop {
     display: none;
  }
  .tablet {
     display: none;
  }
  .mobile{
     display: none;
  }
 }
 @media screen  and (max-width:1024px ) {
    body {
    background-color: darkorange;
    }
    .full-screen {
    display: none;
  }
  .laptop {
    display: flex;
    justify-content: center;
  }
  .tablet {
     display: none;
  }
  .mobile{
     display: none;
  }
 }
 @media screen  and (max-width:768px ) {
    body {
    background-color: skyblue;
    }
    .full-screen {
    display: none;
  }
  .laptop {
  display: none;
  }
  .tablet {
    display: flex;
    justify-content: center;
  }
  .mobile{
     display: none;
  }
 }
 @media screen  and (max-width:425px ) {
    body {
    background-color:crimson;
    }
    .full-screen {
    display: none;
  }
  .laptop {
  display: none;
  }
  .tablet {
    display: none;
  }
  .mobile{
    display: flex;
    justify-content: center;
  }
 }


